---
layout: docs.njk
title: Installation
description: How to install Reslab Activity Log, and trusted-proxy setup for Cloudflare/reverse proxies.
permalink: /docs/installation/
---
{{ readme.installation | markdown | safe }}
